# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
env/
venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs / databases
*.log
*.sqlite3

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# IDEs / editors
.idea/
*.swp
*.swo

# System files
.DS_Store
Thumbs.db

# Cache
.cache/
.mypy_cache/
.pyre/
.pytype/

# Custom project-specific ignores
.idea/
*.out
*.parquet
*.pkl
*.ckpt
my-virtual-env-icelake/
low_
__pycache__/

